@font-face{
	font-family:"MYP_Regular";
	src:local("MyriadPro-Regular")
		url("Fonts/MyriadPro-Regular.otf") format('embedded-opentype')
}

@font-face{
	font-family:"MYP_Semibold";
	src:local("MyriadPro-Semibold")
		url("Fonts/MyriadPro-Semibold.otf") format('embedded-opentype')
}

body {
	font-family:avenir, "MYP_Regular", "Open Sans", Helvetica, sans-serif, arial;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	margin:0px;
	/*background-color:white;*/
}

a:link {
	color: #7f7f7f;
}
a:visited {
	color: #C0C0C0;
}
a:hover {
	color: #08507E;
}
a:active {
	color: #08507E;
}

p {
	margin-top:0px;
}
.header {
	margin-left:-10px;
	margin-bottom:20px;
	padding:10px;
	padding-right:0px;
	color:#FFFFFF;
	cursor:pointer;
}
.header .title {
	font-size:40px;
	line-height:50px;
}

.header .subtitle {
	font-size:24px;
	line-height:40px;
	margin-top:-9px;
}

.abstract {
	font-size:16px;
	line-height:20px;
	margin-top:18px;
}

.body .title {
	color:#000000;
	font-size:24px;
	line-height:40px;
}

.text, .image {
	color:#303030;
	font-size:16px;
	line-height:24px;
}

.note
{
	color:#303030;
	font-size:14px;
	line-height:20px;
}

.credit{
	font-size:14px;
	line-height:20px;
	font-style:italic;
}

.text p{
	margin-bottom:8px;
	margin-top:0;
}

.block {
	margin-bottom:40px;
}

.container {
	width:1200px;
	margin-left:auto;
	margin-right:auto;
}

table {
	border-spacing:0px;
	
}
td {
	text-align:left;
	vertical-align:top;
	margin-top:0px; 
	padding:0px;
}